<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css"
        integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">
    {% include 'includes/stylesheets.html' %}
</head>

{% block content %}

{% endblock content %}

<footer class="footer has-background-black-ter" id="contact">
    <div class="container">
        <div class="social-links">
            <i class="far fa-envelope"></i><br>
            <i class="fab fa-facebook-messenger"></i><br>
            <i class="fas fa-phone"></i><br><br>
        </div>
        <div class="copyrights">
            Created by Kamil Oblej
        </div>
    </div>
</footer>
</body>

</html>