<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css"
        integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">
    {% include 'includes/stylesheets.html' %}
</head>

{% block content %}

{% endblock content %}

<footer class="footer has-background-black-ter" id="contact">
    <div class="container">
        <div class="container columns contact-info is-mobile">
            <div class="social-links column is-one-quater-mobile">
                <h4 class="subtitle has-text-white">Socials</h4>
                {% for icon in icons %}
                <i class="{{ icon.font_avesome }}"></i>
                {% endfor %}
            </div>
            <div class="contact-links column is-two-fifths">
                <h4 class="subtitle has-text-white">Contact me</h4>
                {% for icon in icons %}
                <i class="{{ icon.font_avesome }}"></i><br>
                {% endfor %}
            </div>

        </div>
        <div class="copyrights">
            Created by Kamil Oblej
        </div>
    </div>

</footer>
<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>
</body>

</html>