{% extends 'base.html' %}

{% block content %}

<body>
    <nav class="navbar  is-fixed-top is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="#about">
                    About me
                </a>

                <a class="navbar-item" href="#skills">
                    Skills
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-white-desktop" href="#projects">
                        My projects
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'projects' %}">
                            All projects
                        </a>
                    </div>
                </div>



                <a class="navbar-item" href="#contact">
                    Contact
                </a>

            </div>
        </div>
    </nav>

    <section class="section container" id="about">

        <div>
            <h2 class="title">About me</h2>
        </div>
        </div>

        <div class="columns is-multiline is-mobile">
            {% for fact in about %}
            <div class="column is-one-fifth-desktop bordered  has-text-centered is-full-mobile is-two-fifths-tablet">
                <h3 class="subtitle has-text-centered">{{fact.name}}</h3>
                <figure class="image is-128x128 column centered">
                    <img src="{{fact.image.url}}" class="is-rounded" alt="" srcset="">
                </figure>
                <div class="column description">
                    {{fact.description}}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="section container" id="skills">
        <div>
            <h2 class="title">My skills</h2>
        </div>

        <div class="columns is-multiline is-mobile">
            {% for skill in skills %}
            <div class="column is-one-fifth-desktop is-full-mobile bordered has-text-centered is-two-fifths-tablet">
                <h3 class="subtitle has-text-centered">{{skill.name}}</h3>
                <figure class="image is-128x128 column centered">
                    <img src="{{skill.image.url}}" class="is-rounded" alt="" srcset="">
                </figure>
                <div class="column description">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </div>
            </div>
            {% endfor %}

        </div>

    </section>
    <section class="section container" id="projects">
        <div class="container">
            <h2 class="title">My recent projects</h2>
            {% for project in projects %}
            <article class="media columns is-mobile is-multiline">
                <div class="column is-full-mobile">
                    <h3 class="subtitle">{{ project.name }}</h3>
                    <div class="article-text">{{ project.short_description }}
                    </div>
                    <br>
                    <br>
                    <a href="{% url 'details' project.pk %}"><button class="button is-dark">View more</button></a>
                </div>
                <div class="column is-full-mobile">
                    <img src="{{ project.thumbnail_image.url}}" class="image">
                </div>
            </article>
            {% endfor %}
            <a href="{% url 'projects' %}">
                <button class="button is-dark">View my all projects</button>
            </a>

        </div>
    </section>
    {% endblock content %}