.bordered{
    border: 1px solid rgba(214, 214, 214, 0.26);
}

.column{
    margin-top: 20px;
    margin-bottom: 20px;
}

.column .centered{
    margin: 0 auto;
}

.columns {
    justify-content: space-around;
}

.footer{
    color:white;
    padding-bottom: 20px;
}

.copyrights{
    text-align: center;
}


.container{
    overflow: hidden;
}

.section{
    margin-top: 40px;
}

.navbar-item{
    padding:0 20px;
}

.full-height{
    min-height: calc(100vh - 52px - 80px - 6rem)
}
